@font-face {
  font-family: Inter;
  src:
    url(./assets/fonts/inter-regular/inter-regular.woff2) format("woff2"),
    url(./assets/fonts/inter-regular/inter-regular.woff) format("woff"),
    url(./assets/fonts/inter-regular/inter-regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(./assets/fonts/inter-semibold/inter-semibold.woff2) format("woff2"),
    url(./assets/fonts/inter-semibold/inter-semibold.woff) format("woff"),
    url(./assets/fonts/inter-semibold/inter-semibold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(./assets/fonts/inter-bold/inter-bold.woff2) format("woff2"),
    url(./assets/fonts/inter-bold/inter-bold.woff) format("woff"),
    url(./assets/fonts/inter-bold/inter-bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

:root {
--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--white);
  font-size: 11px;
}

body {
  background-color: var(--grey-900);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: clamp(300px, 25vw, 280px);
  height: auto;
  background-color: var(--grey-800);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card__image {
  width: 70px;
  border-radius: 50%;
  margin-block-end: 22px;
}

.card__name {
  font-weight: 600;
  font-size: 19px;
}

.card__paragraph {
  font-weight: 700;
  color: var(--green);
  padding-block-start: 8px;
}

.card__phrase {
  padding-block: 23px 20px;
}

.card__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  width: 100%;
  background-color: var(--grey-700);
  border: none;
  font-weight: 600;
  padding-block: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  color: var(--grey-700);
  background-color: var(--green);
}
